/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body { width:100%; height:100%; }
body { padding:0 0 10px; margin:0; font-size:12px; font-family:Arial, sans-serif; color:#4c7689; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
select, input, textarea { font-size:15px; color:#4c7689; vertical-align:middle; }
textarea { vertical-align:top; }
:focus { outline:none; }
input[type=submit] { cursor:pointer; }
img, fieldset { border:0; }
table { border-collapse:collapse; border-spacing:0; }
a:link, a:visited { color: #E11D5D; text-decoration:none; }
a:hover { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r { float:right !important; }
.float-l { float:left !important; }
.no-float { float:none !important; }
.no-border { border:0 !important; }
.no-bg { background:none !important; }
.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }
.no-display { display:none !important; }
.display { display:block !important; }
.inline { display:inline !important; }
.overflow { overflow:hidden !important; }
.align-r { text-align:right !important; }
.align-l { text-align:left !important; }
.align-c { text-align:center !important; }
.clear { clear:both; }
/*@font-face {*/
/*font-family: 'PTSansRegular';*/
/*src: url("http://geekhub.ck.ua/font/pt_sans-web-regular-webfont.eot");*/
/*src: url("http://geekhub.ck.ua/font/pt_sans-web-regular-webfont.eot?#iefix") format('embedded-opentype'),*/
/*url("http://geekhub.ck.ua/font/pt_sans-web-regular-webfont.woff") format('woff'),*/
/*url("http://geekhub.ck.ua/font/pt_sans-web-regular-webfont.ttf") format('truetype'),*/
/*url("http://geekhub.ck.ua/font/pt_sans-web-regular-webfont.svg#PTSansRegular") format('svg');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
    background:url("../images/header_bg.png") repeat-x top center #fff;
}

#wrap {
    width:901px;
    overflow:visible;
    margin:0 auto;
    padding:0 0 80px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header {
    position:relative;
    overflow:hidden;
    height:450px;
}

#header h1 {
    position:absolute; top:19px; left:0px;
    width:167px;
    height:81px;
    background:url("../images/geekhub_logo.png") no-repeat;
}
#header h1 a {
    display:block;
    width:167px;
    height:71px;
    text-indent:-2000px;
}
#header > a {
    overflow: hidden;
    display:block;
    position: relative;
    width:310px;
    height:56px;
    margin: 0 auto 64px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#fff;
    text-align:center;
    font-size:28px;
    text-indent: 400px;
    z-index:2;
}
#header > a:hover {
    background-position: 0 -56px;
}
#header > a:active {
    background-position: 0 -112px;
}
#header > img {
    position:absolute;
    top:165px;
    left:315px;
    z-index:1;
    display:block;
}
#header #headTopL {
    width: 450px;
}
#header #headTopR {
    width: 50%;
    margin-left: 455px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: bold;
    height: 16px;
}
#header .line {
    border-top: 1px solid #8EA8B3;
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-top: 40px;
}
#header #headBot {
    margin-top: 30px;
    color: #246685;
    font-family: "Trebuchet MS";
    font-size: 36px;
    font-weight: normal;
    padding: 73px 0 18px;
    position: relative;
    text-align: center;
    z-index: 2;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#content {
    overflow:hidden;
    padding:28px 0 40px;
}
#content > div {
    overflow:hidden;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#wrap #footer {
    overflow:hidden;
    padding:17px 0 0;
    border-top:1px solid #a7c3cf;
}

#bottom
{
    overflow:hidden
}

.box
{
    width:27%;
    float:left;
    margin-right:10px;
    min-height:100px;
    position:relative
}

.box1
{
    width:35%
}

.box2
{
    width:32%
}

.box3
{
    float:right
}

img { border: 0 none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HOME--------------------------------------*/
/*----------------------------------------------------------------------------------*/

#content .home .description {
    padding:5px 64px 27px;
    line-height:24px;
    font-size:14px;
    position:relative;
    z-index:2;
}
#content .home .description a {
    color:#E11D5D;
}
#content .home .description a:hover {
    text-decoration:underline;
}

